<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="no_proxy" value="True" />
    <add key="DefaultPushSource" value="https://lx64ispentw.wuh-intern.de:8080/api/v4/projects/%CI_PROJECT_ID%/packages/nuget/index.json" />
  </config>
  <packageSources>
    <clear />
    <add key="default" value="https://api.nuget.org/v3/index.json" />
    <add key="ruby" value="https://lx64ispentw.wuh-intern.de:8080/api/v4/groups/3/-/packages/nuget/index.json" />
    <add key="ruby_project" value="https://lx64ispentw.wuh-intern.de:8080/api/v4/projects/%CI_PROJECT_ID%/packages/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="default">
      <package pattern="*" />
    </packageSource>
    <packageSource key="ruby">
      <package pattern="WuH.*" />
      <package pattern="Check.*" />
      <package pattern="*.Models" />
      <package pattern="PortalHeader" />
      <package pattern="E2ETestHelper" />
      <package pattern="Keycloak.Admin" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <ruby>
      <add key="Username" value="ruby-packages-read-access" />
      <add key="ClearTextPassword" value="xwYtiSCrMyq4_Jgo-xAB" />
    </ruby>
    <ruby_project>
      <add key="Username" value="gitlab-ci-token" />
      <add key="ClearTextPassword" value="%CI_JOB_TOKEN%" />
    </ruby_project>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="ruby_project" value="true" />
  </disabledPackageSources>
</configuration>
